.navbar {
    background: linear-gradient(to right, #00AAFF, #00ff6C);
    border-bottom: black solid 10px;
}

.nav-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link-wrapper>div {
    display: flex;
    flex-direction: row;
}

.car-image {
    height: 175px;

}

.me-auto {
    font-family: fantasy;
    font-style: italic;


}