.navbar {
    background: linear-gradient(to right, #00AAFF, #00ff6C)
}

.nav-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link-wrapper>div {
    display: flex;
    flex-direction: row;
}

.car-image {
    height: 175px;

}